@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error Page</title>
</head>
<body>
    <header>
        <h1>Error!</h1>
    </header>
    <main>
        <p>An error has occurred. Please try again later.</p>
    </main>
</body>
</html>