@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Guess The Character</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <h1 data-set-page-title>Title</h1>
    </header>
    <main>
        <div class="main-content" data-set-questions-page>
            <img src="https://www.pulsecarshalton.co.uk/wp-content/uploads/2016/08/jk-placeholder-image.jpg" data-set-question-image />
            <div class="answer-options-container">
                <button data-set-answer>A</button>
                <button data-set-answer>B</button>
                <button data-set-answer>C</button>
                <button data-set-answer>D</button>
            </div>
        </div>
        <div class="main-content submit-page" data-set-submit-page>
            <div data-set-answers-container class="answers-container">
            </div>
            <div class="submit-buttons-container">
                <button data-set-submit-button>Submit answers</button>
                <button data-set-nav-button></button>
            </div>
        </div>
        <div class="main-content results-page" data-set-results-page>
            <div data-set-results-container class="answers-container"></div>
            <button data-set-reset-button>Restart quiz</button>
        </div>
    </main>

    <script src="~/js/game-controller.js" asp-append-version="true"></script>
    <script>
        let gameController = new GameController();
        gameController.init();
    </script>
</body>
</html>