@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Guess The Character</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/spinner.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body>
    <header data-set-header-element>
        <span class="material-symbols-outlined" title="Go to previous question" data-set-previous-button>
            arrow_back_ios
        </span>
        <h1 data-set-page-title>Title</h1>
        <span class="material-symbols-outlined" title="Skip question" data-set-skip-button>
            arrow_forward_ios
        </span>
    </header>
    <main>
        <div class="main-content landing-page" data-set-landing-page>
            <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
        </div>
        <div class="main-content" data-set-questions-page>
            <img src="https://www.pulsecarshalton.co.uk/wp-content/uploads/2016/08/jk-placeholder-image.jpg" data-set-question-image />
            <div class="answer-options-container">
                <button class="answer-option red" data-set-answer>A</button>
                <button class="answer-option blue" data-set-answer>B</button>
                <button class="answer-option yellow" data-set-answer>C</button>
                <button class="answer-option green" data-set-answer>D</button>
            </div>
        </div>
        <div class="main-content submit-page" data-set-submit-page>
            <div data-set-answers-container class="answers-container">
            </div>
            <div class="submit-buttons-container">
                <button data-set-submit-button>Submit answers</button>
                <button data-set-nav-button></button>
            </div>
        </div>
        <div class="main-content results-page" data-set-results-page>
            <div data-set-results-container class="answers-container"></div>
            <button data-set-reset-button>Restart quiz</button>
        </div>
    </main>

    <script src="~/js/game-controller.js" asp-append-version="true"></script>
    <script>
        let gameController = new GameController();
        gameController.init();
    </script>
</body>
</html>