@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Guess The Character | Landing Page</title>
</head>
<body>
    <style>
        body {
            width: 100vw;
            height: 100vh;
            background-color: #1a1d57;
        }

        .enter-game-container {
            display: flex;
            height: 100vh;
            max-width: 320px;
            margin: auto;
            align-content: center;
            justify-content: center;
        }

        .enter-game-container button {
            height: 50px;
            width: 100%;
        }
    </style>
    <div class="enter-game-container">
        <button>Enter</button>
    </div>
</body>
</html>
