body {
    margin: 0px;
    background-color: #a6a6e117;
    font-family: Helvetica;
}

header {
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
    align-items: center;
}

    header .material-symbols-outlined {
        cursor: pointer;
    }

main {
    margin: 5px;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin: auto;
}

    .main-content img {
        height: 300px;
        width: auto;
    }

    .main-content .answer-options-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        gap: 5px;
    }

    .main-content .answers-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 30px;
        grid-row-gap: 15px;
    }

        .main-content .answers-container .item {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 20px;
            padding: 5px;
            font-size: 20px;
            align-items: center;
        }

            .main-content .answers-container .item img {
                height: 50px;
                width: auto;
            }

            .main-content .answers-container .item text {
                padding-right: 10px;
            }

            .main-content .answers-container .item.answer {
                cursor: pointer;
            }

                .main-content .answers-container .item.answer:hover {
                    opacity: 0.5;
                }

            .main-content .answers-container .item.result.correct {
                background-color: green;
                color: white;
            }

            .main-content .answers-container .item.result.incorrect {
                background-color: darkred;
                color: white;
            }



button {
    height: 80px;
    font-size: 15px;
    font-weight: bold;
    color: black;
    background-color: white;
    border-radius: 4px;
    min-width: 300px;
}

    button:hover, .main-content button:active {
        color: white;
        background-color: black;
    }

header {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px;
    border-style: solid;
    border-color: #80808038;
    background-color: white;
}

    header h1 {
        padding-top: 20px;
        margin-top: 0;
    }

.hidden {
    display: none;
}

/* Styles for screens below 850px */
@media only screen and (max-width: 849px) {
    .main-content .answer-options-container {
        grid-template-columns: 1fr;
    }

    .main-content .answers-container {
        grid-template-columns: 1fr;
    }
}
