header {
    text-align: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin: auto;
}

    .main-content img {
        height: 300px;
        width: auto;
    }

    .main-content .answer-options-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        gap: 15px;
    }

    .main-content .answers-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 30px;
        grid-row-gap: 15px;
    }

        .main-content .answers-container .answer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 20px;
        }

            .main-content .answers-container .answer.correct {
                background-color: green;
            }

            .main-content .answers-container .answer.incorrect {
                background-color: darkred;
            }

            .main-content .answers-container .answer img {
                height: 50px;
                width: auto;
            }

            .main-content .answers-container .answer text {
                padding-right: 10px;
            }

.hidden {
    display: none;
}
